@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img src="./img/apple-logo.png" style="height:70px" alt="Alternate Text" />
            <h1 class="display-4 fw-bolder">Welcome to iPhoneHunt </h1>
            <p class="lead fw-normal text-white-50 mb-0">You can find all you need about iPhone models</p>
        </div>
    </div>
</div>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">

            </div>
        </div>
    </div>
</section>